<section id="pageController" ng-controller="PageController">    
    <nav>
        <div class="nav-div">
            <img src="../img/logo.png" alt="" class="logo">
            <input type="text" class="search-input" placeholder="search" ng-model="searchText">
            <span class="be-pointer" ng-click="openModal($event)">
                <i class="fa-regular fa-pen-to-square logo write-icon"></i>
                <span class="write-icon-text">write</span>
            </span>
            <i class="fa-regular fa-bell bell-icon"></i>
            <i class="fa-regular fa-user profile-icon be-pointer" ng-click="toggleSelect($event)"></i>
            <ul ng-show="isSelectVisible" class="select-dropdown">
                <li ng-repeat="option in options" ng-click="selectOption(option, $event)">
                    <i ng-if="option === 'sign out'" class="fa-solid fa-right-from-bracket"></i> {{ option }}
                </li>
            </ul>
        </div>
    </nav>
    <i class="fa-solid fa-left-long be-pointer" ng-click="goBack()" class="go-back-page-to-homePage"></i>
    <div id="content-container">
        <h1 id="post-title">{{ post.title }}</h1>
        <div id="author-info">
            <img ng-src="{{ post.profileImage }}" alt="Author Image" id="author-image">
            <div id="author-details">
                <p id="author-name">{{ post.name }}</p>
                <span id="post-date">{{ post.date }}</span>
            </div>
        </div>

        <!-- Novo Retângulo de Likes e Comments -->
        <div id="engagement-stats">
            <div id="engagement-left">
                <span id="likes">
                    <i ng-class="{'fa-solid fa-heart': isLiked, 'fa-regular fa-heart': !isLiked}" 
                        ng-click="like()">
                    </i>
                </span>
                <span id="comments">
                    <i class="fa-regular fa-comment"></i> {{ post.comments }}
                </span>
            </div>
            <div id="engagement-right">
                <span id="save">
                    <i class="fa-regular fa-bookmark"></i>
                </span>
                <span id="circle-play">
                    <i class="fa-regular fa-circle-play"></i>
                </span>
                <span id="share">
                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                </span>
                <span id="ellipsis">
                    <i class="fa-solid fa-ellipsis"></i>
                </span>
            </div>
        </div>
        

        <div id="post-highlight">
            <p id="highlighted-text">{{ post.text }}</p>
            <span id="highlight-label">Top highlight</span>
        </div>
    </div>
</section>
