<section ng-controller="HomeController">
	<div>
		<nav>
			<div class="nav-div">
				<img src="../img/logo.png" alt="" class="logo">
				<input type="text" class="search-input" placeholder="search">
				<i class="fa-regular fa-pen-to-square logo write-icon"></i>
				<span class="write-icon-text">write</span>
				<i class="fa-regular fa-bell bell-icon"></i>
				<i class="fa-regular fa-user profile-icon" ng-click="toggleSelect()"></i>
				<ul ng-show="isSelectVisible" class="select-dropdown">
					<li ng-repeat="option in options" ng-click="selectOption(option)">
						<i ng-if="option === 'sign out'" class="fa-solid fa-right-from-bracket"></i> {{ option }}
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="post-header">
		<i class="fa-solid fa-plus post-header-elements plus-icon"></i>
		<span class="post-header-elements">For you</span>
		<span class="post-header-elements">Following</span>
	</div>
	<div class="post-div">
		<div ng-repeat="post in posts" class="post">
			<span class="post-profile">
				<img src={{post.profileImage}} alt="" class="profile-image">
				<span>{{post.name}}</span>
				<!-- <pre>{{post}}</pre> -->
			</span>
			<h3>{{post.title}}</h3>
			<h5>{{post.summary}}</h5>
			<span>
				<span class="date">
					{{post.post_at}}
				</span>
				<span class="likes">
					<i class="fa-regular fa-heart"></i>
					{{post.post_likes}}
				</span>
				<span>
					<i class="fa-regular fa-comment"></i>
					{{post.comments}}
				</span>
			</span>
			<span class="post-footer-right">
				<i class="fa-regular fa-trash-can trash be-pointer" ng-click="removePost(post.id)"></i>				
				<i class="fa-regular fa-bookmark save"></i>
				<i class="fa-solid fa-ellipsis-vertical ellipsis"></i>
			</span>
			<span class="img-absolute">
				<img src="{{post.postImg}}" alt="" class="post-img">
			</span>
			<div class="post-line"></div>
		</div>
	</div>
</section>
